<div class="container">
    <div class="row" id="menu">
        <ul *ngFor="let menu of menuItems">
            <li *ngFor="let item of menu.children">
                <menu-item [item]="item" [path] = "menu.path"></menu-item>
            </li>
            <!-- <li>
                <a routerLink="/pages/home">home</a>
            </li>
            <li>
                <a routerLink="/pages/login">login</a>
            </li>
            <li><a routerLink="/pages/add">add</a></li>
            <li>
                <a routerLink="/pages/profile">profile</a>
            </li> -->
        </ul>
    </div>
</div>