div#review-single{
    h4{
        text-align: center;
        margin: 0;
    }
    img{
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        margin: 0;
        font-size: 20px;
    }
    span{
        font-weight: bold;
    }
}