<div bsModal #singleModal = "bs-modal" class = "modal fade"
[config] = "{backdrop: 'static', keyboard: false}" tabindex = "-1" role = "dialog" 
aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body" id="review-single">
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                <span aria-hidden="true">&times;</span>
            </button>
            
            <h4>{{ review.title }}</h4>
            <h3>category: {{ category }}</h3>
            <img src="{{ review.image }}" alt="{{ review.image }}">
            <p>{{ review.content }}</p>
            <span>{{ review.Created_date | date: 'dd.MM.yyyy HH:mm' }}</span>

        </div>
    </div>
</div>
</div>