<div class="container">
    <div class="row" id="reviews">
        <ul>
            <li *ngFor="let review of reviews">
                <h4>
                    <a [routerLink]="['/pages/review', review._id]">{{ review.title }}</a>
                </h4>
                <img src="{{ review.image }}" alt="{{ review.image }}">
                <button (click)="share(review._id)">
                    share dialog
                </button>
                <button [routerLink]="['/pages/edit', review._id]">edit</button>
            </li>
            <button class="more" *ngIf="!isLastPage" (click)="showMore()">show more</button>
        </ul>
    </div>
</div>