div#reviews{
    padding-bottom: 20px;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            margin-bottom: 20px;
            h4{
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            img{
                display: block;
                margin-bottom: 10px;
            }
        }
        button{
            border: 1px solid;
            background: none;
            padding: 8px;
            outline: 0;
            cursor: pointer;
            &:hover{
                background-color: white !important;
                color: black !important;
            }
            &.more{
                background: black;
                color: white;
                border-radius: 2px;
            }
        }
    }
}